<!doctype html>
<html>
<head>
<title>TLS/SSL Test Portal</title>
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/bootstrap-theme.min.css">
<link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="content">
<h1>About | <a href="..">Click for new test</a></h1>
<div>
	<p>
	The Docker Image <a href="https://github.com/shartge/testssl-web">hartge/testssl-web</a> is a fork of <a href="https://github.com/mycloudrevolution/testssl-webfrontend">mycloudrevolution/testssl-webfrontend</a> from Markus Kraus
	based on the <a href="https://github.com/TKCERT/testssl.sh-webfrontend">testssl.sh-webfrontend</a>
	Project from <a href="https://github.com/TKCERT">thyssenkrupp CERT</a>. 
	</p>
	<p>
	It uses the <a href="https://github.com/drwetter/testssl.sh">testssl.sh</a> Script from Dirk Wetter.
	</p>
<pre>
{{ about | safe }}
</pre>
</div>
<hr>
</div>
</body>
</html>
