<!doctype html>
<html>
<head>
<title>TLS/SSL Test Portal</title>
<link rel="stylesheet" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="content">
    {% block content %}{% endblock %}
</div>
<h4>
	<span class="label label-default col-sm-8">
		This portal uses <a href="https://testssl.sh/">testssl.sh</a>.<br/>
		<a href="about/">Click here</a> for more information.
	</span>
</h4>
</body>
</html>
